/* Estilos Generales */
body {
    font-family: 'Segoe UI', 'Arial', sans-serif;
    background-color: #F2F2F2;
}

/* Estilos para el Encabezado del Modal */
.modal-header {
    background: linear-gradient(45deg, #571FA6, #2E0E59);
    color: #F2F2F2;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

.modal-title {
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 1.2px;
}

/* Estilos para el Cuerpo del Modal y Formulario */
.modal-body {
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.form-group {
    width: 90%;
    margin-bottom: 25px;
}

/* Estilos para los Controles del Formulario */
input[type="text"].form-control, input[type="email"].form-control, input[type="number"].form-control {
    border: 2px solid #571FA6;
    border-radius: 8px;
    padding: 12px;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

input[type::placeholder] {
    font-style: italic;
    color: #9E9E9E;
}

input[type="text"].form-control:focus, input[type="email"].form-control:focus, input[type="number"].form-control:focus {
    border-color: #F244B5;
    box-shadow: 0 0 10px #F244B5;
    transform: scale(1.05);
}

label {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para Botones */
.btn-close, .btn-action {
    background-color: #F244B5;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-close:hover, .btn-close:focus, .btn-action:hover, .btn-action:focus {
    background-color: #2E0E59;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

/* Estilos para Botones */
.btn-close {
    background-color: #F244B5;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-close:hover, .btn-close:focus {
    background-color: #2E0E59;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}


/* Estilos para la sección de añadir dirección de factura */
.add-address-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según sea necesario */
  }
  
  .btn-add-address {
    background-color: #f244B5;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-add-address:hover, .btn-add-address:focus {
    background-color: #2E0E59;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }