<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Nueva tarjeta</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form class="d-flex flex-column m-auto w-75" [formGroup]="form">
            <div class="form-group mb-3">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="nombre"
                    [class]="{'is-invalid': !form.get('nombre')?.valid && form.get('nombre')?.touched}">
                <div class="invalid-feedback">
                    Este campo es requerido
                </div>
            </div>
        
            <div class="form-group mb-3">
                <label for="numero">Número de tarjeta</label>
                <input type="text" class="form-control" id="numero" placeholder="Número" formControlName="numero" [class]="{'is-invalid': !form.get('numero')?.valid && form.get('numero')?.touched}">
                <div class="invalid-feedback">
                    Este campo es requerido
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="fechaExpiracion">Fecha de expiración</label>
                <input type="text" class="form-control " id="fechaExpiracion" placeholder="mm/aaaa"
                    formControlName="fechaExpiracion" [class]="{'is-invalid': !form.get('fechaExpiracion')?.valid && form.get('fechaExpiracion')?.touched}">
                <div class="invalid-feedback">
                    Este campo es requerido
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" id="cvv" placeholder="CVV" formControlName="cvv" [class]="{'is-invalid': !form.get('cvv')?.valid && form.get('cvv')?.touched}">
                <div class="invalid-feedback">
                    Este campo es requerido
                </div>
            </div>
            <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="modal.close('Save click')">Añadir Tarjeta</button>
        </form>
	</div>
</ng-template>

<div class="add-address-section">
    <button class="btn btn-add-address" (click)="open(content)">Añadir Método de pago</button>
  </div>

<section class="d-flex flex-wrap justify-content-around">
    <div class="card mx-3 my-3" style="width: 18rem;" *ngFor="let tarjeta of tarjetas">
        <div class="card-body">
            <h3 class="card-title">{{tarjeta.nombre}}</h3>
            <p>Número de tarjeta: {{tarjeta.numero}}</p>
            <p>Fecha de expiración: {{tarjeta.fechaExpiracion}}</p>
        </div>
    </div>
    
</section>
