

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Nueva dirección de factura</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form class="d-flex flex-column m-auto w-75" [formGroup]="form">
            <div class="form-group mb-3">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="nombre"
                    [class]="{'is-invalid': !form.get('nombre')?.valid && form.get('nombre')?.touched}">
                <div class="invalid-feedback">
                    Este campo es requerido
                </div>
            </div>
        
            <div class="form-group mb-3">
                <label for="pais">País</label>
                <input type="text" class="form-control" id="pais" placeholder="Pais" formControlName="pais" [class]="{'is-invalid': !form.get('pais')?.valid && form.get('pais')?.touched}">
                <div class="invalid-feedback">
                    Este campo es requerido
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="cp">Código postal</label>
                <input type="text" class="form-control " id="cp" placeholder="Código Postal"
                    formControlName="cp" [class]="{'is-invalid': !form.get('cp')?.valid && form.get('cp')?.touched}">
                <div class="invalid-feedback">
                    Este campo es requerido
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="ciudad">Ciudad</label>
                <input type="text" class="form-control" id="ciudad" placeholder="Ciudad" formControlName="ciudad" [class]="{'is-invalid': !form.get('ciudad')?.valid && form.get('ciudad')?.touched}">
                <div class="invalid-feedback">
                    Este campo es requerido
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" id="direccion" placeholder="Dirección" formControlName="direccion" [class]="{'is-invalid': !form.get('direccion')?.valid && form.get('direccion')?.touched}">
                <div class="invalid-feedback">
                    Este campo es requerido
                </div>
            </div>
            <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="modal.close('Save click')">Añadir dirección</button>
        </form>
	</div>
</ng-template>

  <div class="add-address-section">
    <button class="btn btn-add-address" (click)="open(content)">Añadir dirección de factura</button>
  </div>
<section class="d-flex flex-wrap justify-content-around">
    <div class="card mx-3 my-3" style="width: 18rem;" *ngFor="let direccion of facturas">
        <div class="card-body">
            <h3 class="card-title">{{direccion.nombre}}</h3>
            <p>Pais: {{direccion.pais}}</p>
            <p>Codigo postal: {{direccion.cp}}</p>
            <p>Ciudad: {{direccion.ciudad}}</p>
            <p>Dirección: {{direccion.direccion}}</p>
        </div>
    </div>
    
</section>
