
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-container {
    height: 100vh;
    width: 100vw;
    background-image: url("../../../assets/fondo3.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-75 {
    width: 75%;
}

.m-2 {
    margin: 2px;
}

.card {
    width: 18rem;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-body {
    text-align: center;
}

.form-select,
.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.btn {
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 9px;
    cursor: pointer;
}

.btn-outline-secondary {
    background-color: #571fa6;
    color: #f2f2f2;
    border: 1px solid #f244b5;
}

.btn-primary {
    background-color: #2E0D59;
    border: 1px solid #f244b5;
    color: #f244b5;
}

.btn:hover,
.btn-outline-secondary:hover {
    background-color: #2980b9;
}


.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Apply styles for the cart component */
.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #f2f2f2; /* Set text color for labels */
}

.form-select,
.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    color: #000; /* Set text color for input/select */
}

/* Apply styles for the placeholder text */
.form-select::placeholder,
.form-control::placeholder {
    color: #000; /* Set placeholder text color */
}

/* Apply styles for the total price */
p {
    color: #000; /* Set text color for total price */
}

/* Apply styles for the input group */
.input-group mb-3 input {
    color: #000; /* Set text color for input in the input group */
}

/* Apply styles for the coupon applied message */
p *ngIf {
    color: #f2f2f2; /* Set text color for the coupon applied message */
}





