<div class="my-container d-flex justify-content-center">
    <div class="d-flex">
        <section class="d-flex justify-content-around flex-wrap w-75 m-2">
            <div *ngFor="let item of items" class="card m-1" style="width: 18rem;">
                <img class="card-img-top" [src]="item.url_portada" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title"><a [routerLink]="['detalles', item.titulo]">{{item.titulo}}</a></h6>
                    <p>{{item.categoria}}</p>
                    <p>Valoración:
                        <span class="bi" [class]="item.valoracion >= 1 ? 'bi-star-fill' : 'bi-star'"></span>
                        <span class="bi" [class]="item.valoracion >= 2 ? 'bi-star-fill' : 'bi-star'"></span>
                        <span class="bi" [class]="item.valoracion >= 3 ? 'bi-star-fill' : 'bi-star'"></span>
                        <span class="bi" [class]="item.valoracion >= 4 ? 'bi-star-fill' : 'bi-star'"></span>
                        <span class="bi" [class]="item.valoracion >= 5 ? 'bi-star-fill' : 'bi-star'"></span>
                        {{item.valoracion}}
                    </p>
                    <p><strong>{{ item.precio | currency}}</strong></p>
                    <button class="btn btn-link" type="button" (click)="removeFromCart(item)">Eliminar</button>
                </div>
            </div>
        </section>
        <section class="flex-grow-1 d-flex flex-column m-2">
            <form>
                <div class="form-group my-3">
                    <label for="">Selecciona tu dirección de envío</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Dirección</option>
                        <option [value]="envio" *ngFor="let envio of envios">{{envio.nombre}}</option>
                    </select>
                </div>
    
                <div class="form-group my-3">
                    <label for="">Selecciona tu dirección de facturación</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Dirección</option>
                        <option [value]="factura" *ngFor="let factura of facturas">{{factura.nombre}}
                        </option>
                    </select>
                </div>
    
                <div class="form-group my-3">
                    <label for="">Selecciona tu método de pago</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Tarjeta</option>
                        <option [value]="tarjeta" *ngFor="let tarjeta of tarjetas">
                            {{ocultaTarjeta(tarjeta.numero)}}
                        </option>
                    </select>
                </div>
                <div class="form-group my-3">
                    <label>Total: {{getTotal()|currency}} </label>
                   
                </div>
            </form>
    
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Cupón">
                <button class="btn btn-outline-secondary" type="button" (click)="aplicaCupon()">Aplicar</button>
            </div>
    
            <p *ngIf="cupon">Cupón aplicado: {{getTotal()-(getTotal()*0.25)|currency}}</p>   
            <button class="btn btn-primary" (click)="pagar()">Pagar</button>
        </section>
    </div>
</div>
