.bi-cart {
    margin-right: 10px;
}

.d-flex {
    display: flex;
    align-items: center; 
    justify-content: between; 
}

a {
    color: #F244B5; 
    padding: 15px;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #571FA6; 
    text-decoration: underline;
}

.input-group {
    width: 25%;
}

.form-control {
    border: 2px solid #571FA6; 
    border-radius: 0.25rem;
}

.btn-outline-secondary {
    border-color: #571FA6;
    color: #571FA6;
}

.btn-outline-secondary:hover {
    background-color: #571FA6;
    color: #F2F2F2;
}

.bi-search {
    font-size: 1.2rem;
}

.btn-primary {
    background-color: #571FA6;
    color: #F2F2F2;
    margin: 15px;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
    background-color: #2E0E59;
    transform: scale(1.05);
}

.badge.bg-danger {
    background-color: #F244B5;
}

h2 {
    color: #0D0D0D;
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.recomended-albums, .all-albums {
    gap: 20px;
}

.app-product-card {
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.app-product-card:hover {
    transform: translateY(-10px);
}

a.styled-link {
    display: inline-block !important;
    background-color: #571FA6 !important;
    color: #F2F2F2 !important;
    padding: 10px 15px !important;
    margin: 5px !important;
    border: none !important;
    border-radius: 0.25rem !important;
    transition: background-color 0.3s, transform 0.2s !important;
    text-align: center !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

a.styled-link:hover, a.styled-link:focus {
    background-color: #2E0E59 !important;
    text-decoration: none !important;
    transform: scale(1.05) !important;
}

h2 {
    font-family: 'Impact', sans-serif;
    color: #571FA6; 
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 50%;
    height: 3px;
    background-color: #F244B5; 
    margin: 10px auto 0;
}

.recomended-albums {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.all-albums {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.styled-link {
    display: inline-block;
    background-color: #571FA6;
    color: #F2F2F2;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s, transform 0.2s;
}

.styled-link:hover {
    background-color: #2E0E59;
    transform: scale(1.05);
}
