<div class="d-flex align-items-center justify-content-between">
    <div>
    <a class="styled-link p-3" routerLink="/">
        <i class="bi bi-house"></i> 
    </a>
        <a class="styled-link p-3" routerLink="/envios">Direcciones de envío</a>
        <a class="styled-link p-3" routerLink="/facturas">Direcciones de facturas</a>
        <a class="styled-link p-3" routerLink="/pagos">Métodos de pago</a>        
    </div>
    <span class="input-group w-25">
        <input [formControl]="busqueda" type="text" class="form-control" placeholder="Buscar">
        <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button>
    </span>
    <div>
        <button type="button" class="btn btn-primary m-3" routerLink="/compras"> <i class="bi bi-cart mr-3"></i><span
                class="badge bg-danger"> {{cartService.getItems().length}} </span></button>
        <!-- <button type="button" class="btn btn-primary m-3" (click)="poblar()">poblar</button> -->
        <button type="button" class="btn btn-primary m-3" (click)="logout()">Cerrar Sesion</button>
    </div>
</div>

<h2>Productos Recomendados:</h2>
<section class="recomended-albums d-flex flex-wrap justify-content-around">
    <app-product-card class="mx-3 my-3" *ngFor="let album of items.slice(10,13)" [album]="album"></app-product-card>
</section>

<h2>Todos los Productos:</h2>
<section class="all-albums d-flex flex-wrap justify-content-around">
    <app-product-card class="mx-3 my-3" *ngFor="let album of items" [album]="album"></app-product-card>
</section>

