<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="album.url_portada" alt="Card image cap">
    <div class="card-body">
        <h6 class="card-title"><a [routerLink]="['detalles', album.titulo]">{{album.titulo}}</a></h6>
        <p>{{album.categoria}}</p>
        <p>Valoración:
            <span class="bi" [class]="album.valoracion >= 1 ? 'bi-star-fill' : 'bi-star'"></span>
            <span class="bi" [class]="album.valoracion >= 2 ? 'bi-star-fill' : 'bi-star'"></span>
            <span class="bi" [class]="album.valoracion >= 3 ? 'bi-star-fill' : 'bi-star'"></span>
            <span class="bi" [class]="album.valoracion >= 4 ? 'bi-star-fill' : 'bi-star'"></span>
            <span class="bi" [class]="album.valoracion >= 5 ? 'bi-star-fill' : 'bi-star'"></span>
            {{album.valoracion}}
        </p>
        <p><strong>{{ album.precio | currency}}</strong></p>
        <button type="button" class="btn btn-primary" (click)="addToCart(album)">Agregar al carrito</button>
    </div>
</div>