.card {
    width: 18rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    overflow: hidden; 
    margin-bottom: 20px; 
}

.card-img-top {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}

.card-body {
    padding: 15px;
    background-color: #F2F2F2; 
}

.card-title a {
    color: #571FA6; 
    text-decoration: none; 
    transition: color 0.3s;
}

.card-title a:hover {
    color: #2E0E59; 
}

.bi-star, .bi-star-fill {
    color: #F244B5; 
    margin-right: 3px;
}

.btn-primary {
    background-color: #571FA6; 
    border: none;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
    background-color: #2E0E59; 
    transform: scale(1.05); 
}
