img {
    width: 400px;
}

.album-info {
    background-color: #F2F2F2; 
    padding: 20px;
    border-radius: 10px; 
    margin-bottom: 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.album-info img {
    max-width: 100%; 
    border-radius: 5px; 
    margin-bottom: 20px; 
}

.album-info h1 {
    color: #571FA6; 
    margin-bottom: 10px;
}

.album-info h5 {
    color: #0D0D0D; 
    margin-bottom: 5px;
}

.album-info h4 {
    color: #F244B5; 
    margin-bottom: 5px;
}

.album-info .btn-primary {
    background-color: #571FA6; 
    border: none;
    padding: 10px 20px;
    margin-top: 10px; 
    transition: background-color 0.3s, transform 0.2s;
}

.album-info .btn-primary:hover {
    background-color: #2E0E59; 
    transform: scale(1.05); 
}

.album-reviews {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.album-reviews h1 {
    color: #571FA6;
    margin-bottom: 20px;
}

.album-reviews div {
    background-color: #fff; 
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px; 
}

.album-reviews h2 {
    color: #0D0D0D; 
}

.album-reviews h4 {
    color: #F244B5; 
}

.album-reviews p {
    color: #333; 
}

.my-container {
    height: 100vh;
    width: 100vw;
    background-image: url("..\..\..\assets\fondo.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

