<div class="my-container d-flex justify-content-center">
<section class="album-info">
    <img [src]="album.url_portada">
    <h1>{{album.titulo}}</h1>
    <h5>{{album.categoria}}</h5>
    <h4>Estrellas: {{album.valoracion}}</h4>
    <h4>{{ album.precio | currency}}</h4>
    <button type="button" class="btn btn-primary" (click)="addToCart(album)">Agregar al carrito</button>
</section>

<section class="album-reviews">
    <h1>Opiniones de otros usuarios:</h1>
    <div *ngFor="let review of album?.reviews">
        <h2>{{review.autor}}</h2>
        <h4>Estrellas {{review.valoracion}}</h4>
        <p>{{review.opinion}}</p>
    </div>
</section>
</div>
